# Dependencies
node_modules/

# Build output
dist/

# Environment files
.env
.env.local
.env.development
.env.test
.env.production

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Claude
.claude

# examples
app/src/watchdog/*.txt